@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --greenThemeText: rgb(31, 112, 77);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.about-me {
  margin-top: 68px;
  margin-bottom: 0;
}

.inner-about-me::after {
  content: url("images/org-top.svg");
  position: absolute;
  right: 0;
}

.about-me-categories {
  display: grid;
  grid-row-gap: 24px;
  list-style: none;
  margin-top: 59px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}

.about-me-card {
  height: 352px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.about-me-background {
  background-image: url("/images/org-top.svg"), url("/images/org-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;
}

.about-me-item {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  text-align: center;
}

.button-style {
  align-self: center;
  border-radius: 32px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #dfe1e6;
}

.button-style :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-style :enabled {
  background-color: rgba(255, 255, 255, 1);
}

.card-title {
  font-family: "Inter", sans-serif;
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.container {
  background-image: url("./images/header-illsutration-mobile@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 200px 24px;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.contact-us-input {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding: 15px 16px 15px 16px;
  line-height: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.contact-us-email {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding: 15px 16px 15px 16px;
  line-height: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.contact-us-text {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.contact-us-textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  height: 114px;
  line-height: 24px;
  padding: 12px;
  width: 100%;
  margin-bottom: 24px;
}

.desktop-hr {
  display: none;
}

.footer-email {
  color: #42526e;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 200px 24px;
}

.footer-icons::before {
  content: url("images/contact-us-side-img.svg");
  position: absolute;
  right: 0;
}

.get-my-resume-btn::before {
  content: url("images/org-bottom.svg");
  position: absolute;
  left: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 24px;
  margin-left: 26px;
  margin-right: 22px;
  margin-top: 62px;
}

.grid-item {
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.grid-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 8px;
  height: 222px;
  margin-top: 252px;
}

.get-in-touch {
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  align-self: flex-start !important;
  border: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

.get-my-resume-btn {
  background-color: var(--greenThemeText);
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  align-self: center;
  border: 0;
  margin: 15px;
}

.headline {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  padding-left: 24px;
  padding-right: 24px;
}

.headline .sub-headline {
  color: var(--greenThemeText);
}

.icon {
  width: 100%;
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(1.5);
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 44px);
}

.inner-about-me {
  display: flex;
  flex-direction: column;
}

.is-visible {
  display: block;
}

.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

.line {
  height: 4px;
  border-width: 0;
  background-color: #36b37e;
  width: 18%;
}

#mobile-menu-modal {
  position: fixed;
  height: 100%;
  width: 80%;
  margin: 28px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  height: 50%;
  list-style: none;
  padding: 0;
}

.mobile-menu-list-item {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  padding: 20px 0 20px 0;
  color: #3a4a42;
}

.see-project-btn {
  font-size: 12px;
  height: 38px;
  background-color: var(--greenThemeText);
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  align-self: center;
  border: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: font-size 0.2s, background-color 0.2s;
}

.see-project-btn:hover {
  background-color: darkgreen;
  font-size: 15px;
  height: 40px;
}

.see-project-btn:focus {
  background-color: #008552;
}

.close-modal {
  float: right;
  color: #67798e;
  font-size: x-large;
}

.supporting-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
}

.supporting-text::before {
  display: none;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-icon {
  padding-right: 10px;
  padding-left: 10px;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.2);
}

.tag {
  background-color: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: var(--greenThemeText);
  padding: 12px;
  margin: 4px;
}

.tech-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.tech-item {
  background-color: #ebf0ee;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #3a4a42;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 8px;
}

.topnav-desktop {
  display: none;
}

.topnav-mobile {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.welcome {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .about-me-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 992px) {
  .about-me-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  .button-style {
    align-self: center;
    border-radius: 32px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dfe1e6;
    margin-top: 10%;
    transition: transform 0.2s;
  }

  .button-style:hover {
    transform: scale(1.5);
  }

  .container {
    background-image: url("./images/Header-llustration-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-us-content::after {
    content: url("images/contact form-illustratoin-3-desktop.svg");
    position: absolute;
    right: 0;
  }

  .contact-us-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }

  .contact-us-text {
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    width: 80%;
    margin-right: 24px;
    transition: transform 0.5s;
  }

  .contact-us-text:hover {
    transform: translate(5px);
    cursor: pointer;
  }

  .contact-us-text::after {
    content: url("images/illustration-1-contact-form-desktop.svg");
    position: absolute;
    left: 0;
  }

  .contact-us-form::after {
    content: url("images/illustration-2-contact-form-desktop.svg");
    position: absolute;
    left: 20%;
    margin-top: 400px;
  }

  .desktop-hr {
    display: block;
  }

  .footer-contents {
    display: block;
    align-items: center;
    margin: 0 24px 30px 24px;
  }

  .footer-contact-us {
    margin-top: 84px;
  }

  .footer-email {
    display: none;
  }

  .footer-icons::before {
    display: none;
  }

  .get-in-touch {
    background-color: var(--greenThemeText);
    border-radius: 4px;
    color: #fff;
    padding: 12px;
    align-self: flex-start;
    border: 0;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .get-my-resume-btn::before {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 52px;
  }

  .headline {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    color: #172b4d;
    text-align: center;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 20%;
    margin-bottom: 0;
  }

  .inner-about-me::after {
    content: url("images/Frame.png");
    position: absolute;
    right: 0;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 20% 0 20%;
  }

  .inner-about-me {
    margin: 0 20% 0 20%;
  }

  .about-me::before {
    content: url("images/about-me-before.png");
    position: absolute;
    left: 0;
  }

  .topnav-mobile {
    display: none;
  }

  .topnav-desktop {
    display: block;
  }

  ul.menu-desktop {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menu-desktop > li {
    margin-top: 15px;
    padding: 10px 12px 10px 12px;
  }
}
